/* 功能區塊 */
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

/* 功能區塊樣式 */
.feature {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #0d2e51;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #57565a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 3px rgba(229, 230, 231, 0.8);
}

.feature h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffffff;
}

.feature p {
    color: #d4d4d4;
    font-size: 1rem;
    margin-bottom: 20px;
}

.button {
    display: block;
    padding: 10px 20px;
    background: #fff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    position: relative;
    z-index: 10;
    pointer-events: auto !important;

    
}

.button:hover {
    background: #c3c4c5;
}








