{% extends "base.html" %}

{% block title %}測試樣板{% endblock %}

{% block content %}
<h2>客戶更改</h2>

{% if success %}
<br>更改成功</br>
{% else %}
<br>更改失敗</br>
{% endif %}

<a href="/">返回主頁</a>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   
<script>
    function checkPW(){
        var pw1 = document.getElementById("pw1").value;
        var pw2 = document.getElementById("pw2").value;
        
        if (pw1 != pw2) {
            swal('輸入錯誤', '[密碼]與[確認密碼]輸入的內容不同!', 'error');
            return false;
        } else {
            return true;	
        }
    }
</script>
{% endblock %}