<header class="navbar">
    <div class="logo">BLOCKCHAIN</div>
    <ul class="nav-links">
        <li><a href="home.html">首頁</a></li>
        <li class="dropdown">
            <a href="#">介紹</a>
            <ul class="dropdown-menu">
                <li><a href="#">個人</a></li>
                <li><a href="#">商業</a></li>
                <li><a href="#">開發者</a></li>
                <li><a href="#">入門指南</a></li>
                <li><a href="#">白皮書</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">資源</a>
            <ul class="dropdown-menu">
                <li><a href="#">交易所</a></li>
                <li><a href="#">社群</a></li>
                <li><a href="#">詞彙表</a></li>
                <li><a href="#">活動</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">參與</a>
            <ul class="dropdown-menu">
                <li><a href="#">支持區塊鏈</a></li>
                <li><a href="#">購買加密貨幣</a></li>
                <li><a href="#">運行節點</a></li>
                <li><a href="#">開發</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">其他</a>
            <ul class="dropdown-menu">
                <li><a href="#">避免詐騙</a></li>
                <li><a href="#">法律資訊</a></li>
                <li><a href="#">隱私政策</a></li>
                <li><a href="#">關於我們</a></li>
            </ul>
        </li>
    </ul>  

    <div class="login-btn">
        <a href="login.html">登入</a>
    </div>

    <div class="menu-toggle">&#9776;</div>
    <script src="static/js/navbar.js"></script>
</header>
