/* 功能區塊 */
.features {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.feature {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #0d2e51;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #103053;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0, 119, 255, 0.8);
}

.feature h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffffff;
}

.feature p {
    color: #d4d4d4;
    font-size: 1rem;
    margin-bottom: 20px;
}

.button {
    display: block;
    padding: 10px 20px;
    background: #fff;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    position: relative;
    z-index: 10;
    pointer-events: auto !important;

    
}

.button:hover {
    background: #c3c4c5;
}



/* 畫廊容器樣式 */
.gallery-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

/* 標題樣式 */
.gallery-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

/* 畫廊格線樣式 */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

/* 圖片樣式 */
.gallery-item {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    object-fit: cover;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Modal 样式 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    position: relative;
    background: none;
    padding: 20px;
    border-radius: 15px;
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 10000;
}
